body {
  margin: 0;
  font-family: 'Titillium Web';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
   
    
}
.nav{
overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;

}


html {
  scroll-behavior: smooth;
}
